/* .acc-wrapper {
display: flex;
height: 100vh;
width: 100vw;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}

.acc-wrapper button {
    padding: 10px 20px;
    background: #614101;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.accordian {
width: 500px;
}

.item {
background: #614101;
margin-bottom: 10px;
padding: 10px 20px;
}

.title {
color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}

.acc-content {
color: #ffffff;
height: auto;
}
 */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap:20px;
}
.wrapper .btn{
    padding:10px 20px;
    border-radius: 10px;
    background-color: rgba(215, 132, 30, 0.857); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.accordion{
    width:800px;
}
.item{
    background-color: rgba(215, 132, 30, 0.857);
    padding:10px 20px;
    margin-bottom: 10px;
}
.title{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.content{
    color:rgb(255, 255, 255);
    height: auto;
}