
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap:20px;
}
.wrapper .btn{
    padding:10px 20px;
    border-radius: 10px;
    background-color: rgba(243, 142, 9, 0.797); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.btn:hover {
    /* background-color: rgba(120, 180, 50, 0.8); */
    font-weight: bold;
}

.accordion{
    width:800px;
}
.item{
    background-color: rgba(215, 132, 30, 0.857);
    padding:10px 20px;
    margin-bottom: 10px;
}
.title{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.content{
    color:rgb(255, 255, 255);
    height: auto;
}